{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>

    {% include "contact_log/partials/_header.html" %}

    {% if page_obj %}

        <nav class="menu">
            <ul class="menu-list">
            <li class="menu-item">
                <a href="" class="menu-link">
                Link 1
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">
                Link 2
                </a>
            </li>
        </ul>
        </nav>
    
        <div class="search">
            <form 
            action=" {% url "contact_log:search" %} " 
            method="GET"
            >
            <input 
                type="search" 
                class="search-input"
                placeholder="Search"
                id="search"
                name="q"
            >
            </form>
        </div>
        </header>

    {% block content %}
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption ">
                Contacts
            </caption>

        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Name</th>
                <th class="table-header">Rank</th>
                <th class="table-header">Phone</th>
                <th class="table-header">E-mail</th>
            </tr>
        </thead>

        <tbody>
            {% for contact in page_obj %}
                <tr class="table-row">
                    <td class="table-cel">
                        <a class="table-link"
                        href="{% url 'contact_log:contact' contact.id %}"
                        >

                            {{ contact.id }}
                        </a>
                </td>
                <td class="table-cel">
                    {{ contact.name }}
                </td>
                <td class="table-cel">
                    {{ contact.rank }}
                </td>
                <td class="table-cel">
                    {{ contact.phone }}
                </td>
                <td class="table-cel">
                    {{ contact.email }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "contact_log/partials/_pagination.html" %}
</div>

{% endblock content %}

    {% else %}
    <div class="single-contact">
        <h1 class="single-contact-name">
        No file found.
        </h1>
    </div>
{% endif %}
</body>
</html>