{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'contact_log/css/homepage.css' %}">
    <title>Contact Log</title>
</head>
<body>

    {% block content %}
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption ">
                Contacts
            </caption>

        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Name</th>
                <th class="table-header">Rank</th>
                <th class="table-header">Phone</th>
                <th class="table-header">E-mail</th>
            </tr>
        </thead>

        <tbody>
            {% for contact in contacts %}
                <tr class="table-row">
                    <td class="table-cel">
                        <a class="table-link"
                        href="{% url 'contact_log:contact' contact.id %}"
                        >

                            {{ contact.id }}
                        </a>
                </td>
                <td class="table-cel">
                    {{ contact.name }}
                </td>
                <td class="table-cel">
                    {{ contact.rank }}
                </td>
                <td class="table-cel">
                    {{ contact.phone }}
                </td>
                <td class="table-cel">
                    {{ contact.email }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

</body>
</html>