{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>

    {% include "contact_log/partials/_header.html" %}
    
    {% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
        {{ contact.name }} <br>
        {{ contact.rank }}
        </h1>

        <p><b>ID:</b> {{ contact.id }}</p>
        <p><b>E-mail:</b> {{ contact.email }}</p>
        <p><b>Phone:</b> {{ contact.phone }}</p>
        <p><b>Created Date:</b> {{ contact.created_date }}</p>
        <p><b>Description:</b> {{ contact.description }}</p>

        {% comment %} Tentar colocar a imagem do contato aqui no campo
        ainda não consegui fazer isso
        {% endcomment %}

        {% comment %} <p><b>Picture:</b> 
        <img src="{{ imagem.url_imagem }}" alt="{{ imagem.titulo }}"> 
        {% endcomment %}

    </div>
    {% include "contact_log/partials/_pagination.html" %}
    {% endblock content %}


</body>
</html>