{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bunker/css/homepage.css' %}">
    <title>YoRHa Bunker</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/contact_log/" style="text-decoration: none; 
    padding: 10px 20px; background-color: white; color: darkgreen; border-radius: 5px; 
    font-weight: bold; display: inline-block;">Contact Log</a>
    <a href="http://127.0.0.1:8000/admin/" style="text-decoration: none; 
    padding: 10px 20px; background-color: white; color: darkgreen; border-radius: 5px; 
    font-weight: bold; display: inline-block;">Admin Console</a>
</body>
</html>